@import '../utils/variables';
@import '../utils/mixins.scss';

@keyframes pulsation {
  0% {
    filter:
      drop-shadow(0px 0px 20px rgba(#021d7e, 0.5))
      drop-shadow(0px 0px 30px rgba(#021d7e, 0.5))
      drop-shadow(0px 0px 25px rgba(#021d7e, 1));
  }
  50% {
    filter:
      drop-shadow(0px 0px 0 rgba(#021d7e, 0.5))
      drop-shadow(0px 0px 0 rgba(#021d7e, 0.5))
      drop-shadow(0px 0px 0 rgba(#021d7e, 1));
  }
  100% {
    filter:
      drop-shadow(0px 0px 20px rgba(#021d7e, 0.5))
      drop-shadow(0px 0px 30px rgba(#021d7e, 0.5))
      drop-shadow(0px 0px 25px rgba(#021d7e, 1));
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cloud__button {
  position: absolute;
  color: $color-white;
  transition: all 0.4s;
  opacity: 0;
  animation: appear 1.5s 1.5s 1 forwards;

  &:hover {
    transform: scale(1.2);
    color: $color-light-blue;
  }

  &--kitten {
    top: -5px;
    left: 65px;

    @include mediaQuery(smallDesktop) {
      top: 20px;
    };

    @include mediaQuery(tablet) {
      top: 40px;
      left: 120px;
    };
  }

  &--puzzle {
    bottom: 50px;
    left: 240px;

    @include mediaQuery(smallDesktop) {
      left: 190px;
    };

    @include mediaQuery(tablet) {
      left: 40px
    };
  }

  &--flashlight {
    bottom: 50%;
    right: 40px;

    @include mediaQuery(smallDesktop) {
      bottom: 25%;
      right: 30px;
    };
  }

  &__icon {
    animation: pulsation 5s infinite ease-in-out;

    &--kitten {
      animation-delay: 1s;
    }

    &--puzzle {
      animation-duration: 3s;
    }
  }
}